@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body{
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family:"Inter", sans-serif;
}
header{
    background-image: url(assets/fundo.png);
    background-size: cover;
    width: 100%;
    height: 100dvh;
    margin: 0;
    
    & nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 50px;

        & img{
            height: 100px;
        }
    }

    & nav ul{
        display: flex;
        align-items: center;
        gap: 50px;
    }

    & nav ul li{
        list-style: none;

        & a{
            text-decoration: none;
            color: #fff;
            font-size: 22px;
        }
    }

    & .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 50%;
        margin-top: 7%;

        & h1{
            color: #fff;
            font-family: "Audiowide", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 50px;
            text-align: center;
        }

        & span{
            color: #fff;
            font-size: 20px;
            margin-bottom: 50px;
        }

        & a{
            color: #fff;
            text-decoration: none;
            background-color: transparent;
            border: solid;
            border-width: 1px;
            border-color: #fff;
            padding: 20px;
            padding-inline: 40px;
            cursor: pointer;
            transition: .5s;
        }

        & a:hover{
            background-color: #fff;
            color: #072351;
        }
    }
}

main{
    background: linear-gradient(to right, #0a2f5a, #010311);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    
    & .navButtons{
        width: 75dvw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & a{
            color: #fff;
            text-decoration: none;
            text-align: center;
            border: solid 1px #fff;
            border-radius: 30px;
            padding: 15px;
            width: 100%;
            margin-block: 10px;
            text-transform: uppercase;
            font-size: 20px;
            transition: linear .3s;
        }

        & a:hover{
            background-color: #fff;
            color: #072351;
        }
    }
}

footer{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 50px;

    & .logo img{
        height: 250px;
    }

    & .text{
        display: flex;
        align-items: start;
        gap: 50px;
        margin-right: 100px;

        & .about, .names, .emails{
            width: 250px;

        }

        & h2{
            color: #fff;
            text-transform: uppercase;
        }

        & p{
            color: #fff;

        }
    }
} 

